body {
  background-color: #0B2447;
}

/**NAVBAR**/

.top-nav {
  background-color: #19376D;
  text-align: center;
  overflow: hidden;
  position: static;
}

.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/**HEADER**/

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  padding-top: 20px;
}

.header-container .player-name {
  padding-top: 20px;
}

.header-container .player-name input{
  height: 30px;
  text-align: center;
}

.header-container a {
  text-align: center;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  color: cornsilk;
  width: 70%;
  padding-right: 10px;
}

.header-container .row .score,
.header-container .row .level {
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: cornsilk;
  width: 50%;
}

.simon-board {
  width: 600px;
  height: 600px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  border-radius:50%;
  background-color: black;
  position: relative;
}

.start-btn {
  color: #2EC7AB;
  padding: 10px 20px;
  background-color: #0B2447;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
}

.simon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#green {
  background-color: green;
  border-top-left-radius: 100%;
  height: 90%;
  width: 90%;
  margin-top: 7%;
  margin-left: 7%;   
}

#green.active {
  background-color: lightgreen; /* Cambia el color del botón activo aquí */
}

#red {
  background-color: red;
  border-top-right-radius: 100%;
  height: 90%;
  width: 90%;
  margin-top: 7%;
  margin-left: 2%;
}

#red.active {
  background-color: lightcoral; /* Cambia el color del botón activo aquí */
}

#yellow {
  background-color: yellow;
    border-bottom-left-radius: 100%;
    height: 90%;
  width: 90%;
  margin-top: 3%;
  margin-left: 7%;
}

#yellow.active {
  background-color: lightgoldenrodyellow; /* Cambia el color del botón activo aquí */
}

#blue {
  background-color: blue;
    border-bottom-right-radius: 100%;
    height: 90%;
  width: 90%;
  margin-top: 3%;
  margin-left: 2%;
}

#blue.active {
  background-color: lightblue; /* Cambia el color del botón activo aquí */
}