body {
  background-color: #041229;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: cornsilk;

}
.Titulo {
  width: 100px;
  border: 1px;
}

.Titulo a {
  width: 10px;
  color: #2EC7AB;
  font-family: inherit;
}

#score {
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: cornsilk;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.simon-board {
  width: 600px;
  height: 600px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  border-radius:50%;
  background-color: black;
  position: relative;
}

.start-btn {
  color: #2EC7AB;
  padding: 0.8em 1.7em;
  background-color: #041229;
  border-radius: .3em;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
}

.simon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#green {
  background-color: green;
  border-top-left-radius: 100%;
  height: 90%;
  width: 90%;
  margin-top: 7%;
  margin-left: 7%;   
}

#green.active {
  background-color: lightgreen; /* Cambia el color del botón activo aquí */
}

#red {
  background-color: red;
  border-top-right-radius: 100%;
  height: 90%;
  width: 90%;
  margin-top: 7%;
  margin-left: 2%;
}

#red.active {
  background-color: lightcoral; /* Cambia el color del botón activo aquí */
}

#yellow {
  background-color: yellow;
    border-bottom-left-radius: 100%;
    height: 90%;
  width: 90%;
  margin-top: 3%;
  margin-left: 7%;
}

#yellow.active {
  background-color: lightgoldenrodyellow; /* Cambia el color del botón activo aquí */
}

#blue {
  background-color: blue;
    border-bottom-right-radius: 100%;
    height: 90%;
  width: 90%;
  margin-top: 3%;
  margin-left: 2%;
}

#blue.active {
  background-color: lightblue; /* Cambia el color del botón activo aquí */
}