table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #A5D7E8;
    padding: 8px;
    text-align: center;
    color: #A5D7E8
}

thead {
    background-color: #0B2447;
}

tbody tr:nth-child(even) {
    background-color: #0B2447;
}

.score {
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: #A5D7E8;
  width: 100%;
}