#table-history {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #A5D7E8;
    padding: 8px;
    text-align: center;
    color: #A5D7E8
}

thead {
    background-color: #0B2447;
}

thead tr th {
    background-color: #19376D;
    color: #A5D7E8
}

.table-records table {
    border-collapse: collapse;
    width: 100%;
}

.table-records th,
.table-records td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

.score {
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: #A5D7E8;
  width: 100%;
  padding-top: 20px;
}
