@media screen and (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .menu-toggle {
    padding-top: 15px;
    display: block;
    background-color: #19376D;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .top-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px; 
  }

  .top-nav a {
    display: block;
    padding: 10px;
    min-width: 750px;
  }

  .responsive {
    display: none;
  }

  .header-container .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      flex-wrap: nowrap;
      width: 100%;
  }

  .player-name {
      margin-bottom: 10px;
  }

  .header-container .player-name input{
    width: 300px;
  }

  .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .start-btn,
  .strict-btn,
  .help-strict-btn {
    margin: 5px 0;
  }

  #score, #level {
      margin: 5px;
      white-space: nowrap;
  }

  #contact-form h2 {
      font-size: 40px;
      font-family: 'Times New Roman', Times, serif;
      color: #A5D7E8;
      text-align: center;
  }

  /**SIMON BOARD**/
  .simon-board {
    width: 400px;
    height: 400px; 
    margin-bottom: 30px;
  }

}